body {
  font-family: "Raleway", sans-serif;
  background-color:lightskyblue;
}
 
*.btn {
  color:darkblue;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
h1 {
  color:rgb(171, 231, 68);
}
p.my-5 {
color:gold;
}

button.btn.btn-lg.btn-outline-info.text-light.me-4 {
  color:darkblue;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
